.input-box-light {
    color: #060d12;
    background-color: #fff;
    border: 1px solid #c7c7cc;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 18px;
    padding-bottom: 49px;
    /* padding-left: 60px; */
    font-family: Object Sans, Arial;
    /* font-size: 1.75rem; */
    font-size: 2.9vh;
    font-weight: 700;
    /* line-height: 32px; */
    line-height: 5vh;
    display: flex;
}

.input-default {
    color: #060d12;
    font-size: 3vh;
    /* flex-basis: 14%; */
    /* max-height: 40px; */
    margin-bottom: 22px;
    border: 1px solid #c7c7cc;
    border-radius: 8px;

    font-family: Object Sans, Arial;
    font-weight: 400;
    height: 5vh;

    padding-left: 10px;
}

/* .input-box-selected {
    color: #695bff;
    background-color: #fff;
    border: 2px solid #695bff;
    border-radius: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-family: Object Sans, Arial;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    display: flex;
} */

.input-box:focus {
    border: 2px solid #695bff;
    border-radius: 8px;
    text-indent: 4px;
    caret-color: #695bff;
    outline:0;
}

.input::selection { background:rgba(231,105,105,0.7) }


.label-selected {
    color: #695bff;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1px;
    padding-left: 2px;
    font-family: Object Sans, Arial;
    font-size: 1.25rem;
    /* font-size: 10vh; */
    font-weight: 400;
    /* line-height: 30px; */
    line-height: 5vh;
    display: flex;
}