.phone-container {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  align-items: stretch;

  /* justify-content: center; */
}


.phone-container > * {
    margin-right: 10px;
  }

.phone-picker {
  margin-right: 10px;
}

.phone-input {
  width: 100%;
  max-width: 300px;
}
