.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  width: 90%;
  padding: 0 20px;
}

.screen-container {
  color: #160245;
  text-align: center;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Object Sans, Arial;
  font-weight: 400;
  line-height: 4vh;
  display: flex;
}

.components-container {
  background-color: #fff;
  border: 1px solid #c7c7cc;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 2px;
  padding-left: 1px;
  display: flex;
}

.back-btn {
  width: 80;
  margin-right: 4%;
  transform: rotate(180deg) scale(2);
}

.back-btn img {
  margin-right: 10px;
  height: 24px;
}

@media only screen and (max-width: 1023px) {
  .screen-container {
    max-width: 100%;
    font-size: 6vw;
  }

  .components-container {
    width: 100% !important;
  }

  /* .header-light {
    position: relative;
    top: 0;
    max-width: 100%;
    height: 75px;
    min-height: 75px;
    object-fit: cover;
    margin-top: 16px;
    margin-bottom: 16px;
  } */
}

@media only screen and (min-width: 1024px) {
  .onboarding-flow-us {
    max-width: 1024px;
    font-size: 6.25vh;
  }

  .components-container {
    max-width: 1024px;
    width: 65vw;
  }

  /* .header-light {
    width: 34vw;
    max-width: 1024px;
    object-fit: cover;
    margin-top: 16px;
    margin-bottom: 16px;
  } */
}
