.onboarding-flow-us {
    color: #160245;
    text-align: center;
    /* width: 90%; */
    max-height: 1200px;
    max-width: 2000px;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 28px;
    padding-left: 5px;
    padding-right: 5px; */
    font-family: Object Sans, Arial;
    font-size: 3rem;
    font-weight: 400;
    line-height: 30px;
    display: flex;

    margin: 10vh 10vh;
}

.header-light {
    /* width: 900px; */
    height: 10vh;
    object-fit: cover;
    margin-top: 16px;
    margin-bottom: 16px;
}

.input-box-light {
    width: 65%;
    background-color: #fff;
    border: 1px solid #c7c7cc;
    border-radius: 8px;
    flex-direction: column;
    flex-basis: 67%;
    justify-content: flex-start; /*THIS CHANGE IS SO THE VIEW STARTS AT THE TOP ALWAYS - justify-content: center; */
    align-items: center;
    margin-bottom: 12px;
    margin-left: 2px;
    padding-left: 1px;
    display: flex;
}